/tingsdemo/EWARM/zmain/**/**/**/*
/tingsdemo/EWARM/zmain/**/**/*
/tingsdemo/EWARM/zmain/**/*
/tingsdemo/EWARM/zmain/*
/tingsdemo/Debug/**/**/**/**/*
/tingsdemo/Debug/**/**/**/*
/tingsdemo/Debug/**/**/*
/tingsdemo/Debug/**/*
/tingsdemo/Debug/*
!.gitignore
